.nav {
    padding: 0;
    margin: 0;
    background-color: #FFEC9E;
}

.hide {
    transform: translate(0, -100%);
    opacity: 0;
    transition: all 0.5s ease;
}


.show {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.5s ease;
}

.scrolled {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-link {
    font-weight: 600;
    transition: all 0.5s ease;
}


.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #e34d00;
    transition: width 0.3s;
}

.nav-link:hover::after, .nav-link.on::after {
    width: 100%;
}

.nav-link:hover, .nav-link.on {
    color: #bb1a08;
}



@media screen and (max-width: 800px) {
    .nav-link.on::after , .nav-link:hover::after {
        display: none;
    }
    
}