.register_1 {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
}
.register_1_hide {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    pointer-events: none;
}

.register_2 {
    opacity: 1;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}
.register_2_hide {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.btn_register {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
}
.btn_register_hide {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
}