.bg1{
    background-color: #4A55A2;
}
.bg-body1 {
    background-color: #7895CB;
}
.bg2{
    background-color: #135D66;
}
.bg-body2 {
    background-color: #77B0AA;
}
.bg3{
    background-color: #553C8B;
}
.bg-body3 {
    background-color: #9EA9F0;
}