.form_user_container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.form_user {
    position: relative;
    background-color: white;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    transform: translate(0%,-100%);
    transition: all 0.4s;
    overflow-y: hidden;
}

.close_btn_form {
    position: absolute;
    margin: 0;
    padding: 10px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: red;
}
.image_user {
    width: 30%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.hide_form {
    opacity: 0;
    pointer-events: none;
  }

  .show_form {
    opacity: 1;
    pointer-events: all;
    transform: translate(0%,0%);
  }
  
  .show_form .form_user {
    transform: translate(0%,0%);
  }

  .hide_form .form_user {
    transform: translate(0%,-100%);
  }