.jumbotron {
    background-image: url('/images/pietro-de-grand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    
}

.text_shadow {
    text-shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 1200px) {
    .jumbotron {
        max-height: 70vh;
    }
  }