.form_banner_container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(139, 50, 44, 0.2), 0 6px 20px 0 rgba(139, 50, 44, 0.19);
    color: #8B322C;
}

