.button-create {
    cursor: pointer;
    background-color: #FFBB70;
    color: #8B322C;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease;
}

.button-create:hover {
    translate: 4px 2px;
    box-shadow: none;
}