.img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;

}

.arrow_button {
    position: absolute;
    top: 40%;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;    
    font-size: 20px;
}

.arrow_button_left {
    left: 0;
}

.arrow_button_right {
    right: 0;
}

.arrow_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}