body {
    background-color: #FFFBDA;
}

.text-orange {
    color :#ED9455;
}

.background-orange {
    background-color: #ED9455;
}

.btn-orange {
    background-color: #ED9455;
    color: white;
}

.btn-orange:hover {
    background-color: white;
    color: #ED9455;
    border: 1px solid #ED9455;
}